In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('shopee.db')
query = 'SELECT * FROM items'

df = pd.read_sql_query(query, conn)

In [3]:
df.head()

,id,shop_id,name,stock,sold,liked,comment,status,price,price_min,price_max,discount,rating_1,rating_2,rating_3,rating_4,rating_5
0,8535475240,104741119,Áo Lót Nam Cotton W&W Áo Thun Trắng Cộc Tay Ch...,198,477,83,82,normal,105000,105000,152500,50,1,0,1,4,76
1,8772409270,104741119,Combo Áo Lót Nam Ba Lỗ WW Màu Trắng Chất Liệu ...,62,271,731,76,normal,95000,95000,285000,0,0,0,1,2,73
2,6484405952,104741119,Quần Tây Nam W&W Dáng Slim Fit Chất Vải Cao Cấ...,28,45,705,22,normal,292500,292500,292500,50,0,0,0,3,19
3,8736397711,104741119,Quần Tây Nam W&W Dáng Slim Fit Chất Vải Cao Cấ...,193,60,707,25,normal,292500,292500,292500,50,0,0,2,4,19
4,8642993894,104741119,"Tất Unisex W&W Cổ Cao Hoạ Tiết Kẻ,Khử Mùi, Khá...",24,195,67,81,normal,20000,20000,20000,50,1,0,2,5,73

In [11]:
df1 = df.loc[df['name'].str.contains('sơ mi'),['name','sold','price']]
df1.to_csv('men_fashion_item.csv', encoding='utf-8-sig')