In [7]:
import sqlite3
import pandas as pd
import numpy as np

In [13]:
conn = sqlite3.connect('shopee.db')
query = 'SELECT * FROM item'

df = pd.read_sql_query(query, conn)

In [16]:
df.head()

,id,shop_id,name,stock,sold,liked,comment,status,price,min_price,max_price,discount,rating_1,rating_2,rating_3,rating_4,rating_5
0,23167928635,92937520,OWEN - Áo sơ mi ngắn tay Body Fit Xanh Bamboo ...,1,14,1,4,normal,403200000,403200000,403200000,28,0,0,0,0,4
1,23437840174,127217331,Áo Sát Nách Nam 5S ATHLETE Vải Cotton Siêu Mát...,1,32,1,8,normal,129000000,129000000,129000000,35,0,0,0,0,8
2,8535475240,104741119,Áo Lót Nam Cotton W&W Áo Thun Trắng Cộc Tay Ch...,201,477,83,82,normal,84000000,84000000,244000000,20,1,0,1,4,76
3,8772409270,104741119,Combo Áo Lót Nam Ba Lỗ WW Màu Trắng Chất Liệu ...,36,271,731,76,normal,76000000,76000000,228000000,20,0,0,1,2,73
4,11608442526,104741119,"Quần Đùi Ngủ Mặc Nhà Nam W&W Cạp Chun, Chất Li...",799,298,731,70,normal,85000000,85000000,255000000,22,2,2,2,7,57